.brand {
    color: white;
    font-size: 300%;
}

.center {
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 1%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.logos {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
