.brand {
    color: white;
}

.center {
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 2%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.logos {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
